<h1>Films  en VHS</h1>
<p><b>Films à louer</b></p>




<% @movies.each do |movie| %>
    <p><%= movie.title %>, réalisé par <%= movie.director.first_name %>, sorti en <%= movie.release_year %></p>


<% end %>